.back {
    height: 100%;
    width: 100%;
    background: #E5E5E5 url('/assets/background.svg') no-repeat center;
    background-size: 100%;

    padding-top: 50px;
    overflow-y: scroll;
}

.list-container {
    margin: auto;
    max-width: 980px;

    h2 {
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 21px;
        display: flex;
        align-items: center;
        color: #2F2544;
    }
}

.list {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    gap: 20px;
    margin-bottom: 80px;
}

.list-item {
    flex-basis: 230px;
    flex-grow: 0;
}