<img [src]="imageUrl" alt="">
<div class="info">
    <h5>{{name}}</h5>
    <a [href]="url">{{url}}</a>
    <p>Score: {{score}}</p>
    <button class="see-button" (click)="buttonClicked.emit(apiUrl)">VER MAIS</button>
</div>