:host {
    background: #FFFFFF;

    box-shadow: 0px 0px 6px rgba(47, 37, 68, 0.25);
    border-radius: 10px;
    width: 230px;

    div {
        padding: 10px 10px 20px 10px;
    }
}

.info {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

a,h5,p {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: block;
    width: 167px;
}

h5 {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #2F2544;
}

a {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: #03CADA;
}

p {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: #7B6490;
}

.see-button {
    background: #8C56C2;
    border-radius: 20px;
    width: 100%;
    height: 36px;

    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}

img {
    width: 230px;
    height: auto;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}