.main {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100vh;
}

.header {
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(47, 37, 68, 0.15);
    padding: 10px 40px 10px 40px;

    display: flex;
    align-items: center;
    gap: 32px;

    div {
        flex-grow: 1;
    }
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #A99FAA;
    opacity: 1; /* Firefox */
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #A99FAA;
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
    color: #A99FAA;
  }

.search-input {
    width: calc(100% - 37px);
    border: 1px solid #E1DFE0;
    height: 36px;
    border-radius: 4px;

    padding: 11px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
}

.search-button {
    background: #8C56C2;
    box-shadow: -2px 0px 4px rgba(0, 0, 0, 0.25);
    border-radius: 0px 4px 4px 0px;
    height: 36px;
    width: 36.04px;

    i {
        color: white;
    }
}

.content {
    background: #E5E5E5;
    height: 80%;
    flex-grow: 1;
}

.footer {
    background: #FFFFFF;
    box-shadow: 0px -4px 4px rgba(47, 37, 68, 0.15);

    text-align: center;
    padding: 2px;

    p {
        margin: 0;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 16px;

        color: #7B6490;
    }
}
